body {
  width: 70%;
  margin: auto;
}
.image {
  float: right;
}
.image-caption {
  text-align: center;
  font-style: italic;
}
.head {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1.5em;
}
h1 {
  font-size: 32px;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}
td,
th {
  padding: 3px;
  border: 1px solid black;
  text-align: center;
}
img {
  height: 200px;
}
